header {
    background-color: rgb(70, 109, 149);
    color: violet;
    text-align: center;
    font-size: 3em;
}

h3 {
    background-color: rgb(233, 235, 237);
    text-align: center;
    font-size: 3em;
}

.info {
    background-color: rgb(233, 235, 237);
    text-align: center;
    font-size: 3em;
}

img {
    align-items: center;
    width: 100%;
    height: 100%;
}